.static {
    cursor: not-allowed;
  }
  .draggable {
    cursor: move;
  }
  .draggable-selected {
    cursor: move;   
    stroke: yellow;
    stroke-width : 5;
    stroke-opacity : 0.4;
  }

  .palette {
    position: absolute;
  }
