.static {
    cursor: not-allowed;
  }
  .draggable {
    cursor: move;
  }
  .draggable-selected {
    cursor: move;   
    stroke: yellow;
    stroke-width : 3;
    stroke-opacity : 0.4;
  }

  .linkable {
    cursor: move;   
    stroke: purple;
    stroke-width : 4;
    stroke-opacity : 0.9;
  }

  .palette {
    position: absolute;
  }

  .zi0 {
    position: absolute;
    z-index: -1;
  }

  .new-element {
    cursor: move;   
    stroke: yellow;
    stroke-width : 3;
    stroke-opacity : 0.4;
  }
  .marker {
    fill: purple
  }

